<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Thông tin khách sạn</title>
<link rel="icon" href="/images/icon.png">
<link rel="stylesheet" href="../static/css/all.css"
	th:href="@{/css/all.css}">
<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />

<script src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="/header :: header"></div>
	<div style="display: flex;">
		<div th:replace="/MenuView :: nav-bar"></div>
		<div class="container" style="margin-top: 10px;">
			<div class="row" style="display: block;">
				<div>
					<h3>Thông tin khách sạn</h3>
					<div th:text="${hotel.name}"></div>
					<div th:text="${hotel.address+', '+ hotel.district+', '+hotel.city}"></div>
					<div th:text="${hotel.description}"></div>
					<h3>Dịch vụ tại khách sạn</h3>
					<ul class="pd-detail__policy-list"
						style="display: flex; flex-wrap: wrap;">
						<li th:each="services : ${hotel.services}" style="width: 50%">
							<i class="fas fa-check-circle u-s-m-r-8"></i> <span
							th:text="${services.name}">Buyer Protection.</span>
						</li>
					</ul>
				</div>
				<div>
					<h3>Các loại phòng hiện có</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Loại phòng</th>
								<th>Diện tích</th>
								<th>Hướng</th>
								<th>Giường</th>
								<th>Số người</th>
								<th>Giá</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="type,state : ${listType}">
								<td th:text="${state.count}"></td>
								<td th:text="${type.name}"></td>
								<td th:text="${type.roomArea}"></td>
								<td th:text="${type.roomView}"></td>
								<td th:text="${type.bedInfor}"></td>
								<td th:text="${type.capacity}"></td>
								<td th:text="${#numbers.formatDecimal(type.price, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
								<td style="display: flex; justify-content: flex-end;"><a
									th:href="@{'/admin/type?type_id='+${type.id}}"><button
											type="button" class="btn btn-success">Chi tiết</button></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- <div>
					<h3>Các phòng hiện có</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Tên phòng</th>
								<th>Loại phòng</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="room,state : ${listRoom}">
								<td th:text="${state.count}"></td>
								<td th:text="${room.name}"></td>
								<td th:text=${room.type.name}></td>
								<td style="display: flex; justify-content: flex-end;"><a
									th:href="@{/admin/hotel/{id}(id=${room.id})}"><button
											type="button" class="btn btn-success">Chi tiết</button></a></td>
							</tr>
						</tbody>
					</table>
				</div> -->

			</div>
		</div>
	</div>


</body>
</html>
